
Monitory_Server_Win/Monitory_Server.sys

Monitory_Server_Linux/net8.0/turbostat_info.txt

Monitory_Server_Linux_Source/Monitory_Server_Linux/bin/Debug/net8.0/turbostat_info.txt

Monitory_Server_Win/Monitory_Server_Windows.sys

Monitory_Client_Source/Monitory_Client/Build/Android/project.properties

Monitory_Client_Source/Monitory_Client/Build/Android/src/

Monitory_Client_Source/Monitory_Client/Build/Android/res/values/

Monitory_Server_Linux_Source/Monitory_Server_Linux/obj/

Monitory_Server_Linux_Source/monitory_server_linux_py/turbostat_info_util.txt

Monitory_Server_Linux_Source/monitory_server_linux_py/turbostat_info1_util.txt
Monitory_Server_Linux_Source/monitory_server_linux_py/exported_data.json

Monitory_Client_Source/monitory_client_pygame/src/__pycache__/

Monitory_Client_Source/monitory_client_pygame/__pycache__/

Monitory_Client_Source/monitory_client_pygame/.venv/

Monitory_Client_Source/monitory_client_pygame/src/.idea/
