
Monitory_Server_Win/Monitory_Server.sys

Monitory_Server_Linux/net8.0/turbostat_info.txt

Monitory_Server_Linux_Source/Monitory_Server_Linux/bin/Debug/net8.0/turbostat_info.txt

Monitory_Server_Win/Monitory_Server_Windows.sys

Monitory_Client_Source/Monitory_Client/Build/Android/project.properties

Monitory_Client_Source/Monitory_Client/Build/Android/src/

Monitory_Client_Source/Monitory_Client/Build/Android/res/values/

Monitory_Server_Linux_Source/Monitory_Server_Linux/obj/
